---
import Chip from './chip.astro';

interface Props {
    link: string;
    title: string;
    description: string;
    createdAt?: string;
    tags?: string[]
}
const { link, title, description, createdAt, tags } = Astro.props;
---

<a href={link} class="post-container">
    <div class="post-header">
        <h3>{title}</h3>
        {createdAt && <span class="post-date">{createdAt}</span>}
    </div>
    <div>{tags && tags.map(tag => <Chip text={tag}/>)} </div>
    
    <div>{description}</div>
</a>

<style>
    .post-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        border: 1px solid #353535;
        color: #ffffff;
        text-decoration: none;
        transition:
            background-color 0.15s ease,
            border 0.15s ease;
    }

    .post-container:hover,
    .post-container:focus-visible {
        background-color: rgba(var(--primary-rgb), 0.125);
        border: 1px solid var(--primary);
        color: white;
        text-decoration: none;
    }

    .post-container:focus-visible {
        outline: none;
    }

    .post-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    @media screen and (max-width: 640px) {
        .post-header {
            flex-direction: column;
            gap: 0.5rem;
        }
    }

    .post-header h3 {
        margin: 0;
    }

    .post-date {
        color: var(--secondary);
    }
</style>
